.contact-container {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    color: orange;
    text-transform: uppercase;
    font-size: 10px;
}

.contact-content {
    font-size: 12px;
    font-weight: bold;
}